doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        // info
        // TODO: 設定頁面資訊
        title 標題
        //link(rel="shortcut icon" href="images/圖示.ico")
        meta(name="description" content="描述")
        meta(name="keywords" content="關鍵字")
        
        meta(property="og:title" content="title")
        meta(property="og:description" content="description")
        meta(property="og:type" content="website")
        meta(property="og:url" content="url")
        meta(property="og:image" content="image")
        
    body
        
    