doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        // info
        // TODO: 設定頁面資訊
        title Project01：動態互動天氣盒子
        //link(rel="shortcut icon" href="images/圖示.ico")
        meta(name="description" content="Web Design: Demo-Daybox")
        meta(name="keywords" content="Web Design, Kalo, CSS animation")

        meta(property="og:title" content="動態互動天氣盒子")
        meta(property="og:description" content="Web Design: Demo-Daybox")
        meta(property="og:type" content="website")
        //meta(property="og:url" content="url")
        //meta(property="og:image" content="image")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Donegal+One|Hind+Vadodara:300,400,700|Noto+Sans+TC:300,500&display=swap")
    body
        .daybox
            label
                input#switch_night(type="checkbox")
                include pug/top.pug
                include pug/bottom.pug
